@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom, right top;
    
}

.main{
    width: 80%;
    margin: 20px auto;
}

header{
    text-align: center;
}

header h2{
  color: hsl(232, 13%, 33%);
  font-size: 24px;
   font-family: 'Montserrat', sans-serif;
}
.billing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
}

.billing p{
    color: hsl(234, 14%, 74%);
    font-size: 15px;
}


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: hsl(230, 22%, 74%); */
   background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: hsl(240, 78%, 98%);
   -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(236, 72%, 79%) ;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  
}
.details{
    display: flex;
    align-items: center;
    width: 90%;
     margin: 10px auto;
}

.card{
    background-color: hsl(240, 78%, 98%);
    padding: 40px;
    /* height: 320px; */
    height: auto;
    /* width: 23.3%; */
    width: 30%;
    border-radius: 10px;
    text-align: center;
    /* box-shadow: 1px 2px; */
}
.billing_type{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  
}

.card .billing_type{
    color: hsl(233, 13%, 49%);
}

.card h3{
    font-size: 40px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 25px;
    color:hsl(232, 13%, 33%);
}
.card p{
   font-size: 15px;
   color: hsl(233, 13%, 49%);
}

.card button{
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:  hsl(240, 78%, 98%);
    border: 1px solid hsl(237, 63%, 64%);
    padding: 10px 50px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 7px;
}

.card button:hover{
    /* background-color: hsl(240, 78%, 98%); */
     background-image: linear-gradient(to right, hsl(240, 78%, 98%), hsl(240, 78%, 98%));
    color: hsl(237, 63%, 64%);
    cursor: pointer;
    border: 1px solid hsl(237, 63%, 64%);
}

.active{
    height: 380px;
    background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.active .billing_type{
      color:hsl(240, 78%, 98%);
}

.active h3{
       color:hsl(240, 78%, 98%);
}

.active p{
   color:hsl(240, 78%, 98%);
}

.active button{
    background-image: linear-gradient(to right, hsl(240, 78%, 98%), hsl(240, 78%, 98%));
    /* background-color: hsl(240, 78%, 98%); */
    color: hsl(237, 63%, 64%);
    border: 1px solid hsl(240, 78%, 98%);
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

.active button:hover{
       background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: hsl(240, 78%, 98%);
    cursor: pointer;
    border: 1px solid  hsl(240, 78%, 98%);
}

@media (max-width:480px) {

header{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.billing{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
}

.main{
    width: 80%;
    margin: 10px auto;
}
.details{
    display: block;
    width: 80%;
    margin: 0 auto;
}

.card{
    width: 90%;
    margin: 15px auto;
}
}